.bg-custom1 {
    background: linear-gradient(50deg, rgb(4, 53, 3), rgb(155, 3, 3));
  }
  .buttonbottom {
    position: relative;
    bottom: 0;
  }
  .bg-custom2 {
    background-color: darkgrey;
  }

header img {

    width: 100px;
    height: 100px;
}